<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Administrtation panel</title>
</head>
<body>
<script src="bootstrap/js/CookiesHandler.js"></script>
    <div>
        <!--/*@thymesVar id="list" type="Iterable"*/-->
<!--        <p id="listContainer" th:if="${list}" th:each="user : ${list}" th:text="'id: ' + ${user.id} + ', name: ' + ${user.name}"></p>-->
        <p id="listContainer"></p>
<!--            <button type="submit">Get users</button>-->
            <button onclick="showUsers()">Get users</button>
    </div>
<script>
    function showUsers() {
        fetch('/api/user/get', {
            method: 'post',
            body: '',
            headers: {}
        }).then((response) => {
            if (response.ok) {
            }
            return response.json();
        }).then((res) => {
            console.log(res[0]);
            let container = document.getElementById("listContainer");
            res.forEach((element) => {
                let p = document.createElement("p");
                p.innerHTML = "name: " + element.name + ", email: " + element.email;
                container.append(p);
            });
        }).catch((error) => {
            console.log(error)
        })
    }
</script>
</body>
</html>