<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="div0" class="postsContainer">

    </div>
<script>
    window.onload = () => {
        let bodyMessage = JSON.stringify({threadId: sessionStorage.getItem("threadId")})
        fetch('/api/forumPost/list', {
            method: 'post',
            body: bodyMessage,
            headers: {
                'Content-type': 'application/json'
            }
        }).then((response) => {
            if (response.ok) {
            }
            return response.json();
        }).then((res) => {
            res.forEach((element) => {
                let container = document.getElementById("div0");
                let div = document.createElement("div");
                div.id = "div" + element.id;
                div.className = "forumPost";
                div.onclick = () => {
                    sessionStorage.setItem("postId", element.id);
                };
                div.setHTML(
                    "topicName: " + element.topicName +
                    ", userId: " + element.userId +
                    ", threadId: " + element.threadId +
                    "<a href='/postContent'>Przejdź</a>"
                );
                container.append(div);
            });
        }).catch((error) => {
            console.log(error)
        });
    }
</script>
</body>
</html>